
body{
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  /*min-width: 260px;*/
}

@font-face {
  font-family: Balsamiq SansBoldItalic;
  src: url(../fonts/BalsamiqSansBoldItalic.ttf);
}

@font-face {
  font-family: Balsamiq Sans;
  src: url(../fonts/BalsamiqSansRegular.ttf);
}

.container{
  /*min-height: 100%;*/
  position: relative;
}

.main-area{
  width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0 80px 150px;
}

.logo{
  width: 15%;
  height: 15%;
  float: left;
  margin: 30px 130px 0 30px;
}

.title{
  width: 550px;
  float: right;
  margin: 60px 150px 0 0;
  font-size: 29px;
  font-family: Balsamiq Sans, sans-serif;
  color: rgb(200, 230, 230)
}

nav{
  /*background-image: url("image/NavBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  content:"";
	display: block;
	clear: both;
  font-family: Balsamiq Sans, sans-serif;
  margin: 30px 50px 0 0;
  float: left;
}

li{
  list-style-type: none;
  text-align: center;
  margin: 70px 10px 30px 0;
  color: white;
  background-color: rgb(16, 111, 157);
  padding: 15px;
  border-radius: 200px / 150px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 20 20 12px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

li:hover, li:focus, li:active {
  color: rgb(31, 7, 56);
  background-color: rgb(26, 246, 246);
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

a{
  text-decoration: none;
}

.image{
  width: 55%;
  height: 55%;
  float: right;
  margin: 50px 100px 0px 0;
  padding-top: 20px;
}

footer{
  content:"";
	display: block;
	clear: both;
  width: 100%;
  height: 70px;
  position: relative;
  top: 95px;
  background-color: rgb(9, 46, 68);

}

footer p{
  font-family: Balsamiq Sans, sans-serif;
  color: rgb(209, 240, 236);
  padding-top: 20px;

}
@media (max-width: 768px) {
  .main-area {
    width: 700px;
  }
  .logo{
    width: 20%;
    height: 20%;
    margin-left: 150px;
  }
  ul{
    float: none;
  }
  li{
    display: inline-block;
  }
  .image{
    float: none;
  }
  footer {
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .main-area {
    width: 750px;
  }
  li{
    display: inline-block;
  }
  footer {
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .main-area {
    width: 970px;
  }
  li{
    display: block;
  }
  footer {
    padding-left: 300px;
  }
}

@media (min-width: 1200px) {
  .main-area {
    width: 1260px;
  }
  footer {
    padding-left: 500px;
  }
}
/*.clear:after {
	content:"";
	display: block;
	clear: both;
}*/
